@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"),
  url("../fonts/opensans.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
  
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  position: relative;
  z-index: 0;
  
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  
  cursor: pointer;
}

.btn::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 50%;
  
  background: linear-gradient(to bottom, transparent 16px, rgba(240, 197, 46, 1) 16px) no-repeat 0 0;
}

.btn::after {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  
  width: 100%;
  height: 50%;
  
  background: linear-gradient(to top, transparent 16px, rgba(240, 197, 46, 1) 16px) no-repeat 0 0;
}

.btn:hover {
  background-color: rgba(240, 197, 46, 1);
}

.btn:hover::before {
  display: none;
}

.btn:hover::after {
  display: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  
  background-color: rgba(240, 197, 46, 1);
}

.btn:active::before {
  display: none;
}

.btn:active::after {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 1160px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 33px;
  margin-left: auto;
}

.index-header {
  margin-bottom: 0;
}

.header .container {
  position: relative;
  
  width: inherit;
  padding-top: 34px;
  padding-right: 40px;
  padding-bottom: 47px;
  padding-left: 60px;
  
  background-color: rgba(247, 226, 150, 1);
}

.header-logo {
  position: absolute;
  top: -19px;
  left: 59px;
  
  line-height: 0;
}

.catalog-header-logo {
  top: -17px;
}

.header-logo[href]:hover {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-logo[href] img:active {
  opacity: 0.3;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search {
  position: relative;
  
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
}

.search label {
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  
  width: 16px;
  height: 16px;
  
  background: url("../img/sprite.png") no-repeat  -31px -306px;
}

.search-input {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 354px;
  min-height: 49px;
  margin: 0;
  padding-top: 0;
  padding-right: 7px;
  padding-bottom: 0;
  padding-left: 37px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  vertical-align: middle;
  
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  
  outline: none;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.search-input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0);
}

.search-input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0);
}

.search-submit {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  
  max-width: 86px;
  padding-top: 0;
  padding-right: 18px;
  padding-bottom: 1px;
  padding-left: 19px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 1);
  
  visibility: hidden;
  cursor: pointer;
}

.search-input:focus ~ .search-submit {
  visibility: visible;
}

.search-submit:hover {
  color: rgba(255, 255, 255, 1);
  
  background-color: rgba(0, 0, 0, 1);
  
  visibility: visible;
}

.search-submit:active {
  color: rgba(255, 255, 255, 0.3);
  
  visibility: visible;
}

.header-user-block {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 540px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  
  list-style: none;
}

.header-user-block a {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.header-user-block a:hover {
  opacity: 0.6;
}

.header-user-block a:active {
  opacity: 0.3;
}

.header-user-block a::before {
  content: "";
  
  position: absolute;
  left: 0;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.header-log-in {
  margin-right: 218px;
}

.header-log-in a {
  padding-left: 25px;
}

.header-log-in a::before {
  top: 5px;
  
  width: 13px;
  height: 12px;
  
  background-position: -543px -5px;
}

.header-user {
  margin-right: 19px;
}

.header-user a {
  padding-left: 26px;
}

.header-user a::before {
  top: 4px;
  
  width: 13px;
  height: 12px;
  
  background-position: -543px -5px;
}

.header-log-out {
  margin-right: 65px;
}

.header-log-out a {
  padding-left: 0;
  
  color: rgba(0, 0, 0, 0.3);
}

.header-log-out a:hover {
  color: rgba(0, 0, 0, 0.6);
  
  opacity: 1;
}

.header-log-out a:active {
  color: rgba(0, 0, 0, 0.3);
  
  opacity: 1;
}

.header-log-out a::before {
  display: none;
}

.header-compare {
  margin-right: 41px;
}

.header-compare a {
  padding-left: 20px;
}

.header-compare a::before {
  top: 7px;
  
  width: 10px;
  height: 10px;
  
  background-position: -523px -5px;
}

.header-cart a {
  margin-right: 20px;
  padding-left: 22px;
}

.header-cart a::before {
  top: 5px;
  
  width: 12px;
  height: 12px;
  
  background-position: -501px -5px;
}

.header-navigation {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1060px;
  margin-top: 26px;
}

.header-navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: inherit;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.header-navigation li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-navigation-li > a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.header-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog {
  position: relative;
  
  margin-right: 294px;
}

.nav-catalog a {
  padding-right: 27px;
}

.nav-catalog > a::after {
  content: "";
  
  position: absolute;
  top: 7px;
  right: 0;
  
  width: 16px;
  height: 16px;
  
  background: url("../img/sprite.png") no-repeat -5px -306px;
  opacity: 0.3;
}

.nav-catalog a:hover::after {
  opacity: 0.2;
}

.nav-catalog a:active::after {
  opacity: 0.1;
}

.header-catalog {
  position: absolute;
  left: -60px;
  top: 23px;
  z-index: 10;
  
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0;
  padding-top: 25px;
  padding-right: 0;
  padding-bottom: 34px;
  padding-left: 60px;
  
  background-color: rgba(247, 226, 150, 1);
  
  list-style: none;
}

.header-catalog ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

ul.header-catalog-first-col {
  margin-right: 59px;
}

ul.header-catalog-second-col {
  margin-right: 75px;
}

.header-catalog a {
  padding: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.nav-catalog a:hover ~ .header-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-catalog:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-delivery {
  margin-right: 34px;
}

.nav-warranty {
  margin-right: 108px;
}

.promo {
  position: relative;
  
  width: 1160px;
  min-height: 530px;
  margin-bottom: 64px;
  padding-top: 2px;
  
  background-image: linear-gradient(rgba(247, 226, 150, 1) 113px, transparent 113px);
}

.promo input[type=radio] {
  display: none;
}

.promo-controls {
  position: absolute;
  bottom: 181px;
  right: 84px;
  z-index: 10;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.promo-controls li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 23px;
}

.promo-controls li:nth-of-type(3n) {
  margin-right: 0;
}

.promo-controls label {
  display: inline-block;
  width: 10px;
  height: 9px;
  
  line-height: 1.2;
  
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  opacity: 0.3;
  
  cursor: pointer;
}

.promo-controls label:hover {
  opacity: 0.4;
}

#promo-btn-1:checked ~ .promo-controls label[for="promo-btn-1"],
#promo-btn-2:checked ~ .promo-controls label[for="promo-btn-2"],
#promo-btn-3:checked ~ .promo-controls label[for="promo-btn-3"],
.promo-controls label:active {
  opacity: 1;
}

.promo-item {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-item-img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.promo-monopod .promo-item-img {
  margin-left: 90px;
}

.promo-fitness-bracelet .promo-item-img {
  margin-top: 12px;
  margin-left: 116px;
}

.promo-quadrocopter .promo-item-img {
  margin-top: 65px;
  margin-left: 31px;
}

.promo-item-info {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.promo-item-description {
  position: relative;
  
  width: 560px;
  padding-top: 79px;
}

.promo-item-description::before {
  content: "";
  
  position: absolute;
  top: 37px;
  left: 0;
  
  width: 100px;
  height: 7px;
  
  background-color: #ffffff;
}

.promo-item-description::after {
  content: "";
  
  position: absolute;
  z-index: 0;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.promo-monopod .promo-item-description::after {
  top: 9px;
  right: 60px;
  
  width: 166px;
  height: 131px;
  
  background-position: -5px -5px;
}

.promo-fitness-bracelet .promo-item-description::after {
  top: 9px;
  right: 54px;
  
  width: 198px;
  height: 131px;
  
  background-position: -181px -5px;
}

.promo-quadrocopter .promo-item-description::after {
  top: 9px;
  right: 53px;
  
  
  width: 201px;
  height: 131px;
  
  background-position: -5px -146px;
}


.promo-item-slogan {
  position: relative;
  z-index: 1;
  
  display: block;
  margin-bottom: 19px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.promo-item-description-text {
  margin: 0;
  margin-bottom: 43px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
}

.promo-monopod .promo-item-slogan {
  padding-right: 163px;
}

.promo-monopod .promo-item-description-text {
  padding-right: 70px;
}

.promo-fitness-bracelet .promo-item-slogan {
  padding-right: 190px;
}

.promo-fitness-bracelet .promo-item-description-text {
  padding-right: 110px;
}

.promo-quadrocopter .promo-item-description-text {
  padding-right: 90px;
}

.promo-btn {
  margin-bottom: 54px;
  padding-right: 41px;
  padding-left: 43px;
}

.promo-item-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.promo-item-specifications li:first-of-type {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
}

.promo-item-specifications li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 140px;
}

.specification {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.specification-description {
  margin: 0;
  margin-top: 9px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
}

#promo-btn-1:checked ~ .promo-item:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promo-btn-2:checked ~ .promo-item:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promo-btn-3:checked ~ .promo-item:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  
  list-style: none;
}

.main-catalog-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
}

.main-catalog-item-link {
  position: relative;
  
  display: block;
}

.main-catalog-item-title {
  display: block;
  margin-top: 26px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.main-catalog-item-link::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  width: 160px;
  height: 160px;
  
  background-color: rgba(240, 197, 46, 0.5);
}

.main-catalog-item-link:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.main-catalog-item-link:active .main-catalog-item-img,
.main-catalog-item-img:active {
  opacity: 0.3;
}

.main-catalog-item-link:active .main-catalog-item-title,
.main-catalog-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  margin-bottom: 94px;
  
  background: linear-gradient(to bottom, transparent 100px, rgba(229, 229, 229, 1) 100px)
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 69px;
}

.services input[type="radio"] {
  display: none;
}

.services-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 284px;
  padding-top: 80px;
  padding-bottom: 44px;
  
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.services-controls-btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
  margin-bottom: 26px;
}

.radio-delivery {
  padding-right: 12px;
  padding-left: 24px;
}

.radio-warranty {
  padding-right: 20px;
  padding-left: 25px;
}

.radio-credit {
  padding-right: 35px;
  padding-left: 37px;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"],
.services-controls label:active {
  width: 277px;
  
  color: rgba(247, 225, 132, 1);
  
  background-color: rgba(0, 0, 0, 1);
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"],
.radio-delivery:active {
  padding-right: 133px;
  padding-left: 20px;
}

#services-btn-2:checked ~ .services-controls label[for="services-btn-2"],
.radio-warranty:active {
  padding-right: 133px;
  padding-left: 29px;
}

#services-btn-3:checked ~ .services-controls label[for="services-btn-3"],
.radio-credit:active {
  padding-right: 147px;
  padding-left: 42px;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"]::before,
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"]::before,
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"]::before,
#services-btn-1:checked ~ .services-controls label[for="services-btn-1"]::after,
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"]::after,
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"]::after,
.services-controls label:active::before,
.services-controls label:active::after {
  display: none;
}

.services-item {
  position: relative;
  
  display: none;
  width: 760px;
  padding-top: 69px;
  padding-right: 300px;
  padding-bottom: 76px;
  padding-left: 1px;
}

.services-item h2 {
  margin: 0;
  margin-bottom: 27px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.services-item p {
  margin: 0;
  padding: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
  word-wrap: break-word;
}

.services-item::after {
  content: "";
  
  position: absolute;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.delivery::after {
  top: 85px;
  right: 66px;
  
  width: 136px;
  height: 164px;
  
  background-position: -216px -235px;
}

.warranty::after {
  top: 60px;
  right: 46px;
  
  width: 171px;
  height: 195px;
  
  background-position: -567px -273px;
}

.credit::after {
  top: 59px;
  right: 70px;
  
  width: 156px;
  height: 188px;
  
  background-position: -389px -37px;
}

#services-btn-1:checked ~ .delivery {
  display: block;
}

#services-btn-2:checked ~ .warranty {
  display: block;
}

#services-btn-3:checked ~ .credit {
  display: block;
}

.index-main > .container:last-of-type {
  padding-left: 18px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0;
  margin-bottom: 84px;
  padding: 0;
  
  list-style: none;
}

.partners-item  {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
}

.partners-item::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 260px;
  height: 100px;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.dji::before {
  background-position: -5px -409px;
}

.spgadgets::before {
  background-position: -566px -5px;
}

.gopro::before {
  background-position: -275px -409px;
}

.vive::before {
  background-position: -567px -163px;
}

.partners-item a {
  opacity: 0;
}

.partners-item:hover::before {
  display: none;
}

.partners-item a:hover {
  opacity: 1;
  
  cursor: pointer;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.company-item {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  padding-top: 48px;
}

.company-item::before {
  content: "";
  
  position: absolute;
  top: 0;
  
  width: 80px;
  height: 7px;
  
  background-color: rgba(0, 0, 0, 1);
}

.company-description::before {
  left: 2px;
}

.company-contacts::before {
  left: 3px;
}

.company-description {
  width: 475px;
}

.company-contacts {
  width: 563px;
}

.company-item h2 {
  margin: 0;
  margin-bottom: 39px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.company-item p {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 1px;
}

.company-description p:last-of-type {
  margin-bottom: 66px;
}

.company-contacts p:last-of-type {
  margin-bottom: 39px;
}

.company-transports {
  margin: 0;
  padding: 0;
  
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  list-style: none;
}

.company-transports li {
  position: relative;
  
  padding-left: 37px;
}

.company-transports li:last-of-type {
  margin-bottom: 0;
}

.company-transports li::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  
  width: 11px;
  height: 11px;
  
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.company-location {
  display: block;
  margin-left: 3px;
  
  line-height: 0;
}

.company-description .company-item-btn {
  margin-top: 54px;
  margin-left: 2px;
  padding-right: 18px;
  padding-left: 24px;
}

.company-contacts .company-item-btn {
  margin-top: 69px;
  margin-left: 3px;
  padding-right: 37px;
  padding-left: 41px;
}

.catalog-container {
  padding-left: 79px;
}

.main-title {
  margin: 0;
  margin-bottom: 14px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  font-size: 0;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  display: inline-block;
  vertical-align: top;
  padding-right: 36px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.breadcrumbs .current {
  padding-right: 0;
  
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-transform: inherit;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li::after {
  content: "";
  
  position: absolute;
  top: 15px;
  right: 15px;
  
  width: 4px;
  height: 7px;
  
  background: url("../img/sprite.png") no-repeat -389px -5px;
}

.breadcrumbs .current::after {
  display: none;
}

.catalog-main-content {
}

.content-top {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(220, 220, 220, 1)), color-stop(50%, rgba(235, 235, 235, 1)));
  background: linear-gradient(to right, rgba(220, 220, 220, 1) 50%, rgba(235, 235, 235, 1) 50%);
}

.content-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 19px;
  padding-left: 81px;
}

.products-filters-title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 267px;
  padding-top: 19px;
  padding-bottom: 21px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  background-color: rgba(220, 220, 220, 1);
}

.products-sorting {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 833px;
  padding-top: 19px;
  padding-bottom: 21px;
  padding-left: 73px;
  
  background-color: rgba(235, 235, 235, 1);
}

.products-sorting h2 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  margin-right: 54px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.sorting-parameters {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  
  list-style: none;
}

.sorting-parameters li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 29px;
}

.sorting-parameters a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.sorting-parameters .active {
  color: rgba(0, 0, 0, 1);
}

.sorting-parameters a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-parameters a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-up-down {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.sorting-up-down li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.sorting-up-down a {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
  display: inline-block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  
  /*Скрытие текста*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  opacity: 0.2;
}

.sorting-up-down .active {
  opacity: 1;
}

.sorting-up-down a[href]:hover {
  opacity: 0.4;
}

.sorting-up-down a[href]:active {
  opacity: 1;
}

.sorting-up-down .sorting-down {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-top: 0;
}

.sorting-up-down .sorting-up {
  border-top-color: rgba(0, 0, 0, 1);
  border-bottom: 0;
}

.content-middle {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(238, 238, 238, 1)), color-stop(50%, rgba(255, 255, 255, 1)));
  background: linear-gradient(to right, rgba(238, 238, 238, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.content-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 19px;
}

.products-filters {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 269px;
  padding-top: 69px;
  padding-right: 68px;
  padding-bottom: 73px;
  
  background-color: rgba(238, 238, 238, 1);
}

.products-filters fieldset {
  margin: 0;
  padding: 0;
  
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 1);
}

.products-filters h2 {
  margin: 0;
  margin-top: 12px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
}

.products-filters .filter-price {
  margin-bottom: 33px;
}

.filter-price h2 {
  margin-bottom: 36px;
}

.price-range-filter {
  margin-top: 20px;
}

.range-controls {
  position: relative;
  
  margin-bottom: 4px;
}

.range-controls .scale {
  height: 2px;
  
  background-color: rgba(219, 219, 219, 1);
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  
  background-color: rgba(145, 201, 47, 1);
}

.range-controls .toggle {
  position: absolute;
  top: -6px;
  
  width: 14px;
  height: 14px;
  
  background-color: rgba(238, 238, 238, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.range-controls .toggle:hover {
  background-color: rgba(126, 174, 41, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -2px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.price-input input {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 89px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22.27px;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.2);
  text-transform: none;
  vertical-align: middle;
  
  background-color: transparent;
  border: none;
}

.products-filters .filter-color {
  margin-bottom: 31px;
}

.filter-color h2 {
  margin-bottom: 19px;
}

.filter-color-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-color-list-item-checkbox {
  display: none;
}

.filter-color-list-item label {
  position: relative;
  
  padding-left: 40px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  cursor: pointer;
}

.filter-color-list-item label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: 0;
  
  width: 23px;
  height: 23px;
  background-color: rgba(219, 219, 219, 1);
}

.filter-color-list-item label:hover::before {
  background-color: rgba(206, 206, 206, 1);
}

.filter-color-list-item label:active::before {
  background-color: rgba(196, 196, 196, 1);
}

.filter-color-list-item-checkbox:checked ~ label::after {
  content: "";
  
  position: absolute;
  top: 6px;
  left: 6px;
  
  width: 12px;
  height: 7px;
  
  background: url("../img/sprite.png") no-repeat -555px -115px;
}

.products-filters .filter-bluetooth {
  margin-bottom: 32px;
}

.filter-bluetooth h2 {
  margin-bottom: 19px;
}

.filter-bluetooth-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-bluetooth-list-item-radio {
  display: none;
}

.filter-bluetooth-list-item label {
  position: relative;
  
  padding-left: 40px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  cursor: pointer;
}

.filter-bluetooth-list-item label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: 0;
  
  width: 23px;
  height: 23px;
  border: 2px solid rgba(198, 198, 198, 1);
  border-radius: 50%;
}

.filter-bluetooth-list-item label:hover::before {
  border-color: rgba(188, 188, 188, 1);
}

.filter-bluetooth-list-item label:active::before {
  border-color: rgba(172, 172, 172, 1);
}

.filter-bluetooth-list-item-radio:checked ~ label::after {
  content: "";
  
  position: absolute;
  top: 5px;
  left: 7px;
  
  width: 9px;
  height: 9px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.filter-btn {
  padding-left: 40px;
  padding-right: 39px;
  
  background-color: transparent;
  border: 0;
}

.products-list {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 833px;
  padding-top: 69px;
  padding-left: 72px;
  padding-bottom: 73px;
  
  background-color: rgba(255, 255, 255, 1);
}

.products-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -11px;
}

.products-item {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  width: 361px;
  margin-bottom: 50px;
}

.products-item:last-of-type::before {
  content: "";
  
  position: absolute;
  top: 28px;
  right: 28px;
  
  width: 60px;
  height: 61px;
  
  background: url("../img/sprite.png") no-repeat -54px -316px;
}

.products-item-buying {
  margin-bottom: 25px;
}

.products-item-add-flex {
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: 380px;
}

.products-item-add {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  
  text-align: center;
}

.add-cart {
  padding-right: 38px;
  padding-left: 35px;
}

.add-compare {
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 46px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
}

.add-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.add-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.products-item-buying:hover img {
  opacity: 0.7;
  cursor: pointer;
}

.products-item-buying:hover .products-item-add-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.products-item-name {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  word-wrap: normal;
}

.products-item-price {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
}

.products-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  
  background-color: rgba(235, 235, 235, 1);
}

.products-pagination a {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  
  cursor: pointer;
}

.products-pagination > a:hover {
  background-color: rgba(217, 217, 217, 1);
}

.products-pagination > a:active {
  background-color: rgba(217, 217, 217, 1);
  color: rgba(0, 0, 0, 0.3);
}

.products-pagination .prev {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  margin-right: 12px;
  padding-top: 26px;
  padding-right: 28px;
  padding-bottom: 25px;
  padding-left: 30px;
  
  text-align: center;
  vertical-align: middle;
}

.pages-number {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  
  list-style: none;
}

.pages-number li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 39px;
  
  text-align: center;
}

.pages-number a {
  color: rgba(0, 0, 0, 0.3);
}

.pages-number .current {
  color: rgba(0, 0, 0, 1);
  
  cursor: auto;
}

.pages-number a[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pages-number a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.products-pagination .next {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  padding-top: 26px;
  padding-right: 29px;
  padding-bottom: 25px;
  padding-left: 29px;
  
  text-align: center;
  vertical-align: middle;
}

.footer {
  margin-top: 0;
  
  background-color: rgba(70, 70, 70, 1);
}

.index-footer {
  margin-top: 83px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 55px;
}

.footer-left-col {
  position: relative;
  
  width: 260px;
  margin-right: 112px;
}

.footer-logo {
  display: block;
  margin-bottom: 25px;
}

.catalog-footer-logo {
  position: relative;
  left: -2px;
}

.footer-logo:not([href]) {
  position: relative;
  top: 5px;
}

.footer-logo[href]:hover {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-logo[href] img:active {
  opacity: 0.3;
}

.footer-company-address {
  margin: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.footer-left-col::after {
  content: "";
  
  position: absolute;
  top: 177px;
  left: 0;
  
  width: 80px;
  height: 7px;
  
  background-color: rgba(255, 198, 0, 1);
}

.footer-center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 460px;
  margin-right: 13px;
}

.footer-navigation {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 73px;
  padding: 0;
  
  list-style: none;
}

.footer-navigation li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-delivery {
  margin-right: 34px;
}

.footer-warranty {
  margin-right: 32px;
}

.footer-navigation a {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-socials {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 175px;
  margin: 0;
  margin-top: 58px;
  padding: 0;
  
  list-style: none;
}

.footer-socials li {
  margin-right: 15px;
}

.footer-socials li:nth-of-type(3n) {
  margin-right: 0;
}

.footer-socials a {
  display: block;
  
  line-height: 1.2;
  
  /*Скрытие текста*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  
  opacity: 0.3;
}

.footer-socials a:hover {
  opacity: 0.6;
}

.footer-socials a:active {
  opacity: 0.1;
}

.social-fb a {
  width: 39px;
  height: 38px;
  background-position: -362px -235px;
}

.social-inst a {
  width: 39px;
  height: 38px;
  background-position: -448px -235px;
}

.social-tw a {
  width: 38px;
  height: 38px;
  background-position: -577px -115px;
}

.footer-right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 330px;
}

.footer-user-block {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  
  list-style: none;
}

.footer-user-block a {
  position: relative;
  
  -ms-flex-negative: 0;
  
  flex-shrink: 0;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  text-transform: none;
}

.footer-user-block a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-block a::before {
  content: "";
  
  position: absolute;
  left: 0;
  
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.footer-user-block a:hover::before {
  opacity: 0.6;
}

.footer-user-block a:active::before {
  opacity: 0.3;
}

.footer-log-in {
  margin-right: 44px;
}

.footer-log-in a {
  padding-left: 26px;
}

.footer-log-in a::before {
  top: 4px;
  
  width: 13px;
  height: 12px;
  
  background-position: -478px -5px;
}

.footer-log-out {
  margin-right: 42px;
}

.footer-log-out a {
  padding-left: 26px;
}

.footer-log-out a::before {
  top: 4px;
  
  width: 13px;
  height: 12px;
  
  background-position: -478px -5px;
}

.footer-compare {
  margin-right: 41px;
}

.footer-compare a {
  padding-left: 19px;
}

.footer-compare a::before {
  top: 6px;
  
  width: 10px;
  height: 10px;
  
  background-position: -458px -5px;
}

.footer-cart a {
  padding-left: 22px;
}

.footer-cart a::before {
  top: 4px;
  
  width: 12px;
  height: 12px;
  
  background-position: -436px -5px;
}

.footer-company-telephone {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 61px;
  
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
}

.footer-copyright {
  display: block;
  
  width: 27px;
  height: 34px;
  margin-top: 2px;
  
  /*Скрытие текста*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  background: url("../img/sprite.png") no-repeat -411px -235px;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.btn-close {
  position: relative;
  
  display: block;
  width: 55px;
  height: 54px;
  
  /*Скрытие текста*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  background-color: rgba(240, 197, 46, 0.5);
  border-radius: 50%;
}

.btn-close::before {
  content: "";
  
  position: absolute;
  top: 16px;
  left: 16px;
  
  width: 23px;
  height: 22px;
  
  background: url("../img/sprite.png") no-repeat -403px -5px;
}

.btn-close:hover {
  background-color: rgba(240, 197, 46, 1);
}

.btn-close:active {
  background-color: rgba(240, 197, 46, 1);
}

.btn-close:active::before {
  opacity: 0.3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 255, 255, 0);
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.write-company {
  display: none;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.write-company-container {
  position: relative;
  
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: center;
  align-self: center;
  width: 960px;
  height: 553px;
  padding-top: 96px;
  padding-right: 100px;
  padding-bottom: 78px;
  padding-left: 100px;
  
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.btn-close-container {
  position: absolute;
  top: 22px;
  right: 22px;
}

.write-company-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.write-company-name {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 360px;
}

.write-company-email {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 360px;
}

.write-company-letter {
  width: 760px;
  margin-bottom: 33px;
}

.write-company-btn {
  padding-left: 34px;
  padding-right: 34px;
  
  background-color: transparent;
  border: 0;
}

.write-company-form label {
  display: block;
  margin-bottom: 10px;
  
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  
  cursor: pointer;
}

.write-company-form input {
  width: inherit;
  height: 50px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 4px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
  
  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid transparent;
}

.write-company-letter textarea {
  width: inherit;
  height: 156px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 12px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans" ,"Arial", sans-serif;
  letter-spacing: 0;
  color: rgba(70, 70, 70, 1);
  text-transform: none;
  
  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid transparent;
}


.write-company-form input:hover,
.write-company-letter textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.write-company-form input:focus,
.write-company-letter textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(247, 226, 150, 1);
  
  outline: none;
}

.input-error {
  background-color: rgba(237, 181, 181, 0.5);
}

.write-company-form input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-form input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-form input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-form input:focus::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0);
}

.write-company-form input:focus::-moz-placeholder {
  color: rgba(70, 70, 70, 0);
}

.write-company-form input:focus:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0);
}

.write-company-letter textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-letter textarea::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-letter textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-company-letter textarea:focus::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0);
}

.write-company-letter textarea:focus::-moz-placeholder {
  color: rgba(70, 70, 70, 0);
}

.write-company-letter textarea:focus:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0);
}

.map {
  display: none;
}

.map-container {
  position: relative;
  
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-item-align: center;
  align-self: center;
  width: 960px;
  height: 559px;
  
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

